<ion-content>
  <ion-grid>
    <ion-row align-items-center>
      <ion-col col-sm-6 offset-sm-3 col-lg-2 offset-lg-5>
        <input type="text" [(ngModel)]="user.username" placeholder="Username"/>
      </ion-col>
    </ion-row>
    <ion-row align-items-center>
      <ion-col col-sm-6 offset-sm-3 col-lg-2 offset-lg-5>
        <input type="password" [(ngModel)]="user.password" placeholder="Password"/>
      </ion-col>
    </ion-row>
    <ion-row align-items-center>
      <ion-col col-sm-2 offset-sm-4 col-lg-1 offset-lg-5>
        <button ion-button block (click)="login()">Login</button>
      </ion-col>

      <ion-col col-sm-2 col-lg-1>
        <button ion-button block outline (click)="registerPage()">Register</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
