<ion-content>
  <ion-grid>

    <form [formGroup]="newUser" (ngSubmit)="register()">
      <ion-row align-items-center>
        <ion-col col-sm-6 offset-sm-3 col-lg-4 offset-lg-4>
          <input type="text" formControlName="username" placeholder="Username"/>
        </ion-col>
      </ion-row>

      <ion-row align-items-center>
        <ion-col col-sm-6 offset-sm-3 col-lg-4 offset-lg-4>
          <input type="password" formControlName="password" placeholder="Password"/>
        </ion-col>
      </ion-row>

      <ion-row align-items-center>
        <ion-col col-sm-6 offset-sm-3 col-lg-4 offset-lg-4>
          <input type="text" formControlName="name" placeholder="Name"/>
        </ion-col>
      </ion-row>

      <ion-row align-items-center>
        <ion-col col-sm-6 offset-sm-3 col-lg-4 offset-lg-4>
          <input type="email" formControlName="email" placeholder="Email"/>
        </ion-col>
      </ion-row>

      <ion-row align-items-center>
        <ion-col col-sm-2 offset-sm-4>
          <button ion-button block type="submit" [disabled]="!newUser.valid">Submit</button>
        </ion-col>
        <ion-col col-sm-2>
          <button ion-button outline navPop block>Back</button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
