savings-bar {
  display: block;
  position: relative;
  height: 20px;
  width: 100%;

  .savings-bar-optimal, .savings-bar-saved, .savings-bar-target {
    position: absolute;
    top: 10%;
    left: 0;
    height: 80%;
    border-radius: 15px;
    z-index: 2;
  }
  .savings-bar-target {
    z-index: 1;
  }

  .savings-bar-wrapper {
    height: 100%;
    border-radius: 15px;
  }

  .upper {
    z-index: 4;
  }
}
