<div class="savings-bar-wrapper" [style.backgroundColor]="colors.background">
  <div class="savings-bar-optimal"
       [class.upper]="isOverSpent"
       [style.width]="values.optimal"
       [style.backgroundColor]="colors.optimal">
  </div>
  <div class="savings-bar-saved"
       [class.upper]="!isOverSpent"
       [style.width]="values.spent"
       [style.backgroundColor]="colors.spent">
  </div>

  <div class="savings-bar-target"
       [style.width]="values.target"
       [style.backgroundColor]="colors.target">
  </div>
</div>
