<ion-header>
  <ion-navbar>
    <ion-title>Transaction Detail</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-grid>
    <form [formGroup]="transaction" (ngSubmit)="submit()">
      <ion-row align-items-center>
        <ion-col col-4 offset-4>
          <label for="amount">Amount</label>
          <input id="amount" type="number" formControlName="amount" placeholder="Amount"/>
        </ion-col>
      </ion-row>

      <ion-row align-items-center>
        <ion-col col-4 offset-4>
          <label for="currency">Currency</label>
          <select id="currency" placeholder="HUF" formControlName="currency">
            <option value="HUF" checked="true">HUF</option>
            <option value="EUR">USD</option>
            <option value="USD">EUR</option>
            <option value="GBP">GBP</option>
          </select>
        </ion-col>
      </ion-row>

      <ion-row align-items-center>
        <ion-col col-4 offset-4>
          <label for="comment">Comment</label>
          <input type="text" id="comment" formControlName="comment" [class.ng-invalid]="true"/>
        </ion-col>
      </ion-row>

      <ion-row align-items-center>
        <ion-col col-4 offset-4>
          <label for="date">Date</label>
          <input id="date" type="date" formControlName="date" placeholder="Select Date!"/>
        </ion-col>
      </ion-row>


      <ion-row align-items-center *ngIf="isRepeating === 'repeating'">
        <ion-col col-4 offset-4>
          <label for="period">Period</label>
          <select id="period" [(ngModel)]="period" [ngModelOptions]="{standalone: true}">
            <option value="day">Day</option>
            <option value="week">Week</option>
            <option value="month">Month</option>
            <option value="year">Year</option>
          </select>
        </ion-col>
      </ion-row>

      <ion-row align-items-center>
        <ion-col col-lg-10 offset-lg-1>
          <ion-item style="text-align: center">
            <h3>Category</h3>
            <ion-scroll scrollX="true" scrollY="false" style="height: 100px;">
              <category inline
                        [category]="category"
                        (click)="selectCategory(category)"
                        [class.selected]="category === selectedCategory"
                        *ngFor="let category of getCategories()">
              </category>

              <category inline
                        [category]="newCategoryButton"
                        (click)="newCategory()">
              </category>
            </ion-scroll>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col align-items-center col-2 offset-5>
          <button ion-button type="submit" large block [disabled]="!transaction.valid">Submit</button>
        </ion-col>
      </ion-row>

    </form>
  </ion-grid>
</ion-content>
