<ion-header>
  <ion-navbar>
    <ion-title>Transactions</ion-title>
  </ion-navbar>
</ion-header>

<ion-content text-center>
  <button class="new-button" icon-only (click)="createTransaction()">
    <ion-icon name="add"></ion-icon>
  </button>

  <table>
    <thead>
    <tr>
      <th>Category</th>
      <th>Amount</th>
      <th>Currency</th>
      <th>Comment</th>
      <th>Date</th>
      <th *ngIf="listType === 'group'">User</th>
      <th>Controls</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
      <td colspan="6" text-center>
        <button ion-button clear (click)="infiniteScrollUpdate($event)">
          <ion-icon name="ios-arrow-round-down"></ion-icon>
        </button>
      </td>
    </tr>
    </tfoot>
    <tbody>
    <tr *ngFor="let transaction of transactions;  let i=index">
      <td>
        <category [category]="transaction.category"></category>
      </td>
      <td>
        <h1 text-right ion-text color="{{transaction.amount>0?'secondary':'danger'}}">{{transaction.amount}}</h1>
      </td>
      <td>
        <p text-left>{{transaction.currency}}</p>
      </td>
      <td>
        <p text-right>{{transaction.comment}}</p>
      </td>
      <td>
        <p text-right>{{transaction.date | date}}</p>
      </td>
      <td *ngIf="listType === 'group'">
        <p text-left>{{transaction.user.name}}</p>
      </td>
      <td text-center>
        <button ion-button large color="primary" (click)="editTransaction(transaction)">
          <ion-icon name="ios-create-outline"></ion-icon>
        </button>
        <button ion-button large color="danger" (click)="remove(transaction,i)">
          <ion-icon name="ios-trash-outline"></ion-icon>
        </button>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="bottom-fader"></div>
</ion-content>
