transaction-list, repeating-transaction-list {
  table {
    width: 100%;
    position: relative;

    thead tr {
      font-size: 1.4em;
      line-height: 2;
      background-color: ghostwhite;
      border-bottom: 1px solid gainsboro;
    }
    tfoot .button {
      height: auto;
      margin: 1em;
      font-size: 5em;
    }
    tr {
      border-bottom: 1px solid ghostwhite;
    }
  }
}
