<ion-header>
  <ion-navbar>
    <ion-title>Repeating Transactions</ion-title>
  </ion-navbar>
</ion-header>

<ion-content text-center>
  <button class="new-button" icon-only (click)="create()">
    <ion-icon name="add"></ion-icon>
  </button>

  <table>
    <thead>
    <tr>
      <th>Icon</th>
      <th>Amount</th>
      <th>Comment</th>
      <th>Next Date</th>
      <th>Period</th>
      <th>Controls</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let repeating of transactions;  let i=index">
      <td>
        <category [category]="repeating.transaction.category"></category>
      </td>
      <td>
        <h1 text-left inline ion-text color="{{repeating.transaction.amount>0?'secondary':'danger'}}">
          {{repeating.transaction.amount}}</h1>
        <p inline>{{repeating.transaction.currency}}</p>
      </td>
      <td>
        <p text-right>{{repeating.transaction.comment}}</p>
      </td>
      <td>
        <p text-right>{{repeating.nextDate | date}}</p>
      </td>
      <td>
        <p text-right>{{repeating.period}}</p>
      </td>
      <td text-center>
        <button ion-button large color="primary" (click)="edit(repeating)">
          <ion-icon name="ios-create-outline"></ion-icon>
        </button>
        <button ion-button large color="danger" (click)="remove(repeating,i)">
          <ion-icon name="ios-trash-outline"></ion-icon>
        </button>
      </td>
    </tr>
    </tbody>
  </table>


  <div class="bottom-fader"></div>
</ion-content>
