<ion-header>
  <ion-navbar [class.force-back-button]="isUserSet()">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="isUserSet()">{{user.username}}'s Statistics</ion-title>
    <ion-title *ngIf="!isUserSet()">Statistics</ion-title>
  </ion-navbar>

  <ion-toolbar *ngIf="!isUserSet()">
    <ion-segment [(ngModel)]="listType" (ionChange)="listTypeChanged()">
      <ion-segment-button value="personal">
        <ion-icon name="ios-person-outline"></ion-icon>
        Personal
      </ion-segment-button>
      <ion-segment-button value="group">
        <ion-icon name="ios-people-outline"></ion-icon>
        Group
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-segment [(ngModel)]="interval" (ionChange)="listTypeChanged()">
    <ion-segment-button value="week">
      Week
    </ion-segment-button>
    <ion-segment-button value="month">
      Month
    </ion-segment-button>
    <ion-segment-button value="year">
      Year
    </ion-segment-button>
  </ion-segment>

  <ion-card *ngFor="let statistic of stats">
    <div class="pie-wrapper">
      <canvas baseChart
              [data]="abs(statistic.expense.data)"
              [colors]="statistic.expense.colors"
              [labels]="statistic.expense.labels"
              [chartType]="chartType"
              [legend]="false">
      </canvas>
      <h1 text-center>Expense: {{sum(statistic.expense.data)}}</h1>
    </div>
    <div class="pie-wrapper">
      <canvas baseChart
              [data]="abs(statistic.income.data)"
              [colors]="statistic.income.colors"
              [labels]="statistic.income.labels"
              [chartType]="chartType"
              [legend]="false">
      </canvas>
      <h1 text-center>Income: {{sum(statistic.income.data)}}</h1>
    </div>

  </ion-card>
</ion-content>
