<ion-header>
  <ion-navbar>
    <ion-title>Create Saving</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid style="height: auto">
    <form [formGroup]="savingForm" (ngSubmit)="submit()">
      <ion-row align-items-center>
        <ion-col col-4 offset-4>
          <label for="name">Name</label>
          <input id="name" type="text" formControlName="name"/>
        </ion-col>
      </ion-row>

      <ion-row align-items-center>
        <ion-col col-4 offset-4>
          <label for="start">Start Date</label>
          <input id="start" type="date" min="{{startDate()}}" max="{{startDate()+1}}"
                 displayFormat="DD/MMM/YYYY"
                 formControlName="start"
                 placeholder="Start date"
                 (ionChange)="calcSavings()"/>
        </ion-col>
      </ion-row>

      <ion-row align-items-center>
        <ion-col col-4 offset-4>
          <label for="end">End Date</label>
          <input id="end" type="date" min="{{endDate(start)}}"
                 max="{{startDate()+5}}"
                 displayFormat="DD/MMM/YYYY"
                 formControlName="end"
                 placeholder="End date"
                 (ionChange)="calcSavings()"/>
        </ion-col>
      </ion-row>


      <ion-row align-items-center *ngFor="let category of saving.categories">
        <ion-col col-lg-8 offset-lg-2>
          <ion-item no-lines>
            <ion-thumbnail item-left>
              <category [category]="category.category"></category>
            </ion-thumbnail>

            <ion-badge item-right>{{category.percent | number}}%</ion-badge>
            <ion-badge item-left color="secondary">Saving: {{category.info.normalTarget - category.info.target |
              number}}
              HUF
            </ion-badge>

            <ion-range [(ngModel)]="category.percent" [ngModelOptions]="{standalone: true}" color="secondary"
                       (ionChange)="calcSavings()">
            </ion-range>
          </ion-item>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col align-items-center col-2 offset-5>
          <button ion-button type="submit" large block [disabled]="!savingForm.valid">Submit</button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>


<ion-footer>
  <h1 padding style="margin:0">Saving: {{saving.info.normalTarget - saving.info.target | number}}HUF</h1>
</ion-footer>
