@import "./pages/login/login.scss";
@import "./pages/transactions/list.scss";
@import "./pages/statistics/stats.scss";
@import "./pages/group/group.scss";

ion-header {
  text-align: center;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}

ion-grid {
  height: 100%;
  justify-content: center;
  font-size: 1.1em;

  button {
    border-image: linear-gradient(to top right, #387ef5 0%, #ffaaee 100%) 1 !important;
    background: linear-gradient(to top right, #387ef5 0%, #ffaaee 100%) !important;
  }

  button:hover {

    border-image: linear-gradient(to top right, navy 0%, deeppink 100%) 1 !important;
    background: linear-gradient(to top right, navy 0%, deeppink 100%) !important;
  }
  .button-outline {
    background: none !important;
    border-radius: 3px;
  }
}

ion-menu {
  max-width: 20% !important;

  ion-header {
    .toolbar-background {
      background: none;
    }
    .toolbar-title {
      font-size: 1.8em;
      color: white;
      text-shadow: 1px 1px 1px #212;
    }
  }

  ion-content {
    .scroll-content {
      overflow: hidden;
    }
    background-color: #545 !important;
    box-shadow: inset -25px 0 50px rgba(0, 0, 0, 0.1);

    .item {
      font-size: 1.4em;

      color: #eff;
      text-shadow: -1px -1px 1px #323;
      background: none;
    }
    .item-inner, .item:last-child {
      border: none !important;
    }
  }
}

.bottom-fader {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 0px;
  box-shadow: 0 0 100px 50px white;
}

input, select {
  font-size: 1.8em;
  width: 100%;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-image: linear-gradient(to right, #387ef5 0%, #ffaaee 100%) 1;
  margin-bottom: 1em;
}

label {
  font-size: 1.2em;
  margin-right: 15px;
}

.new-button {
  margin: 1em;
  width: 100px;
  height: 100px;
  font-size: 3em;
  border-radius: 100%;
  color: white;
  text-shadow: -1px -1px #7777bb;
  background: linear-gradient(to left top, #387ef5 0%, #ffaaee 100%);
  box-shadow: -1px 2px 0 #7777bb;
  transition: all 80ms linear;
  ion-icon {
    padding: 0;
    margin: 0;
  }
}

.new-button:hover {
  transform: translate(-1px, 2px);
  box-shadow: 0 0 0 #558;
  background: linear-gradient(to left top, navy 0%, deeppink 100%);
}
