<ion-header>
  <ion-navbar>
    <ion-title>Create Saving</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form [formGroup]="savingForm" (ngSubmit)="submit()">
    <ion-item>
      <ion-label floating>Name</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Start Date</ion-label>
      <ion-datetime min="{{startDate()}}" max="{{startDate()+1}}"
                    displayFormat="DD/MMM/YYYY"
                    formControlName="start"
                    placeholder="Start date"
                    (ionChange)="calcSavings()"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label floating>End Date</ion-label>
      <ion-datetime min="{{endDate(start)}}"
                    max="{{startDate()+5}}"
                    displayFormat="DD/MMM/YYYY"
                    formControlName="end"
                    placeholder="End date"
                    (ionChange)="calcSavings()">
      </ion-datetime>
    </ion-item>

    <ion-list>
      <div *ngFor="let category of saving.categories">
        <ion-item>
          <ion-thumbnail item-left>
            <category [category]="category.category"></category>
          </ion-thumbnail>

          <ion-badge item-right>{{category.percent | number}}%</ion-badge>
          <ion-range [(ngModel)]="category.percent" [ngModelOptions]="{standalone: true}" color="secondary"
                     (ionChange)="calcSavings()">
          </ion-range>
        </ion-item>
        <ion-item>
          <ion-badge item-right color="secondary">Saving: {{-(category.info.normalTarget - category.info.target) |
            number}} HUF
          </ion-badge>
        </ion-item>
      </div>

    </ion-list>

    <div padding>
      <button ion-button type="submit" [disabled]="!savingForm.valid">Submit</button>
    </div>
  </form>
</ion-content>


<ion-footer>
  <h1 padding style="margin:0">Saving: {{-(saving.info.normalTarget - saving.info.target) | number}}HUF</h1>
</ion-footer>
