<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Savings</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="create()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let saving of savings;  let i=inde">
      <ion-item (click)="show(saving)">
        <h1>{{saving.name}}</h1>
        Saved: {{saving.info.saved | number}}HUF
        <savings-bar [saving]="saving.info"></savings-bar>
        <p>{{saving.start | date}} - {{saving.end | date}}</p>
      </ion-item>

      <ion-item-options side="right">
        <button ion-button large color="danger" (click)="remove(saving,i)">
          <ion-icon large name="ios-trash-outline"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>


  </ion-list>

</ion-content>
