<ion-header>
  <ion-navbar>
    <ion-title>Show Saving</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <h1 text-left> {{saving.name}}</h1>

      <ion-badge item-right>{{saving.info.saved | number}}HUF</ion-badge>
      <savings-bar [saving]="saving.info"></savings-bar>
      <p>{{saving.start | date}} - {{saving.end | date}}</p>
    </ion-item>
  </ion-list>

  <ion-item *ngFor="let category of saving.categories">
    <ion-thumbnail inline>
      <category [category]="category.category"></category>
    </ion-thumbnail>

    <p>Average: {{category.info.normalTarget | number}}</p>
    <p>Target: {{category.info.target | number}}</p>
    <p>Spent: {{-category.info.spent | number}}</p>
    <p>Optimal: {{-category.info.optimal | number}}</p>
    <p>Saved: {{category.info.saved | number}}</p>
    <ion-badge item-right>{{category.info.saved | number}}HUF</ion-badge>
    <savings-bar [saving]="category.info"></savings-bar>
  </ion-item>

</ion-content>
