<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Create Transaction</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="isRepeating">
      <ion-segment-button value="single">
        <ion-icon name="ios-return-right"></ion-icon>
        Single
      </ion-segment-button>
      <ion-segment-button value="repeating">
        <ion-icon name="ios-repeat"></ion-icon>
        Repeating
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="transaction" (ngSubmit)="submit()">
    <ion-item>
      <ion-label floating>Amount</ion-label>
      <ion-input type="number" formControlName="amount"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Currency</ion-label>
      <ion-select placeholder="HUF" formControlName="currency">
        <ion-option value="HUF" checked="true">HUF</ion-option>
        <ion-option value="EUR">USD</ion-option>
        <ion-option value="USD">EUR</ion-option>
        <ion-option value="GBP">GBP</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label floating>Comment</ion-label>
      <ion-input type="text" formControlName="comment" [class.ng-invalid]="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Date</ion-label>
      <ion-datetime displayFormat="DD/MMM/YYYY" formControlName="date" placeholder="Select Date!"></ion-datetime>
    </ion-item>

    <ion-item *ngIf="isRepeating === 'repeating'">
      <ion-label floating>Period</ion-label>
      <ion-select [(ngModel)]="period" interface="action-sheet" [ngModelOptions]="{standalone: true}">
        <ion-option value="day">Day</ion-option>
        <ion-option value="week">Week</ion-option>
        <ion-option value="month">Month</ion-option>
        <ion-option value="year">Year</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <h3>Category</h3>
      <ion-scroll scrollX="true" scrollY="false" style="height: 100px;">
        <category inline
                  [category]="category"
                  (click)="selectCategory(category)"
                  [class.selected]="category === selectedCategory"
                  *ngFor="let category of getCategories()">
        </category>

        <category inline
                  [category]="newCategoryButton"
                  (click)="newCategory()">
        </category>
      </ion-scroll>
    </ion-item>

    <div padding>
      <button ion-button type="submit" [disabled]="!transaction.valid">Submit</button>
    </div>
  </form>
</ion-content>
