<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Transactions</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="createTransaction()" *ngIf="user === null">
        <ion-icon name="add"></ion-icon>
      </button>
      <button ion-button icon-only (click)="showStats()" *ngIf="user != null">
        <span>{{user.name}}</span>
        <ion-icon name="pie"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="listType" (ionChange)="listTypeChanged()">
      <ion-segment-button value="personal">
        <ion-icon name="ios-person-outline"></ion-icon>
        Personal
      </ion-segment-button>
      <ion-segment-button value="group">
        <ion-icon name="ios-people-outline"></ion-icon>
        Group
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item-sliding *ngFor="let transaction of transactions;  let i=index">

      <ion-item (click)="editTransaction(transaction)">

        <ion-thumbnail item-left>
          <category [category]="transaction.category"></category>
        </ion-thumbnail>

        <p text-right>{{transaction.comment}}</p>
        <h1 text-left inline ion-text color="{{transaction.amount>0?'secondary':'danger'}}">
          {{transaction.amount}}</h1>
        <p inline>{{transaction.currency}}</p>
        <p text-right>{{transaction.date | date}}</p>
        <p text-left *ngIf="listType === 'group'">{{transaction.user.name}}</p>
      </ion-item>


      <ion-item-options side="right">
        <button ion-button large color="primary" (click)="editTransaction(transaction)">
          <ion-icon name="ios-create-outline"></ion-icon>
        </button>
        <button ion-button large color="danger" (click)="remove(transaction,i)">
          <ion-icon name="ios-trash-outline"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="infiniteScrollUpdate($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
