<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Repeating Transactions</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="create()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let repeating of transactions;  let i=index">
      <ion-item (click)="edit(repeating)">

        <ion-thumbnail item-left>
          <category [category]="repeating.transaction.category"></category>
        </ion-thumbnail>

        <p text-right>{{repeating.transaction.comment}}</p>
        <h1 text-left inline ion-text color="{{repeating.transaction.amount>0?'secondary':'danger'}}">
          {{repeating.transaction.amount}}</h1>
        <p inline>{{repeating.transaction.currency}}</p>
        <p text-right>Due at: {{repeating.nextDate | date}}</p>
      </ion-item>


      <ion-item-options side="right">
        <button ion-button large color="primary" (click)="edit(repeating)">
          <ion-icon name="ios-create-outline"></ion-icon>
        </button>
        <button ion-button large color="danger" (click)="remove(repeating,i)">
          <ion-icon name="ios-trash-outline"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
