category {
  border-radius: 100%;
  margin: 10px;
  display: block;
  transition: all 400ms ease-out;

  .icon-wrapper {
    overflow: hidden;
    width: 50px;
    height: 50px;
    margin: auto;
  }

  ion-icon {
    border-radius: 100%;
    transition: all 400ms ease-out;
    font-size: 2em;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    text-shadow: 1px 1px rgba(150, 0, 150, 0.2);
    box-shadow: 10px 15px 25px rgba(255, 150, 255, .5) inset, 10px -10px 15px rgba(0, 50, 255, 0.1) inset;
  }

}

category.selected {
  box-shadow: 0 3px 0 #77b, -2px 4px 1px #ddd;
  transform: translateY(-3px);
  transition: all 200ms ease-in;
}

category.margin-top {
  margin-top: 50px;
}

category.big {
  height: 100px;
}
