<ion-split-pane when="md">

  <ion-nav [root]="rootPage" #content swipeBackEnabled="false" main></ion-nav>

  <ion-menu [content]="content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Budget</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <button ion-item *ngFor="let p of pages" (click)="openPage(p.component)">
          {{p.title}}
        </button>
        <button ion-item *ngIf="authService.isLoggedIn()" (click)="logout()">
          Log out
        </button>
      </ion-list>
    </ion-content>
  </ion-menu>
</ion-split-pane>
