<ion-header>
  <ion-navbar>
    <ion-title>Create Category</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>


  <category [category]="preview" scale="2" class="margin-top big"></category>

  <ion-item>
    <icon-picker (iconChanged)="changeIcon($event)"></icon-picker>
  </ion-item>

  <color-picker (colorChanged)="changeColor($event)"></color-picker>

  <form [formGroup]="category" (ngSubmit)="submit()">
    <ion-item>
      <ion-label floating>Category</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Subcategory</ion-label>
      <ion-input type="text" formControlName="subcategory"></ion-input>
    </ion-item>

    <div padding>
      <button ion-button type="submit" [disabled]="!category.valid">Submit</button>
    </div>
  </form>
</ion-content>
