<ion-header>
  <ion-navbar [class.force-back-button]="isUserSet()">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="isUserSet()">{{user.username}}'s Statistics</ion-title>
    <ion-title *ngIf="!isUserSet()">Statistics</ion-title>
  </ion-navbar>

  <ion-toolbar *ngIf="!isUserSet()">
    <ion-segment [(ngModel)]="listType" (ionChange)="listTypeChanged()">
      <ion-segment-button value="personal">
        <ion-icon name="ios-person-outline"></ion-icon>
        Personal
      </ion-segment-button>
      <ion-segment-button value="group">
        <ion-icon name="ios-people-outline"></ion-icon>
        Group
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-segment [(ngModel)]="interval" (ionChange)="listTypeChanged()">
    <ion-segment-button value="week">
      Week
    </ion-segment-button>
    <ion-segment-button value="month">
      Month
    </ion-segment-button>
    <ion-segment-button value="year">
      Year
    </ion-segment-button>
  </ion-segment>

  <ion-card *ngFor="let statistic of stats">
    <h1>{{statisticLegend(statistic.start)}}</h1>
    <canvas baseChart
            [labels]="statistic.labels"
            [datasets]="statistic.datasets"
            [chartType]="chartType"
            [legend]="false">
    </canvas>
  </ion-card>
</ion-content>
