statistics {
  .force-back-button {
    .back-button {
      display: inline-block;
    }

    .bar-button-menutoggle {
      display: none;
    }
  }

  .pie-wrapper {
    display: inline-block;
    width: 49%
  }
}
