icon-picker {

  ion-scroll {
    height: 8em;
    white-space: nowrap;
  }

  ion-icon {
    color: #ddccdd;
    font-size: 3em;
    margin: 10px;
    transition: transform 150ms linear;
  }

  ion-icon.selected {
    color: navy !important;
    transform: scale(1.2);
    text-shadow: -1px 1px lightblue, 0px -2px 0 tomato;
  }

}
