<ion-scroll padding scrollX="true" scrollY="false" zoom="false">
  <ion-icon inline *ngFor="let icon of icons"
            name="{{icon}}"
            [style.color]="color"
            [class.selected]="icon === selected"
            (click)="selectIcon(icon)"></ion-icon>
</ion-scroll>
