group {

  .group-item {
    background: linear-gradient(to right top, #387ef5 0%, #ffaaee 100%);
    padding: 10px;
    margin: 20px;
    min-width: 150px;
    height: 150px;
    border-radius: 8px;
    box-shadow: -1px 2px 0 #66a;
    color: white;
    text-shadow: -1px -1px 0 #aaa;
    text-align: center;
    transition: all 80ms linear;
  }

  .group-item:hover {
    transform: translate(-1px, 2px);
    box-shadow: 0 0 0 #558;
    background: linear-gradient(to right top, navy 0%, deeppink 100%);
  }
}
