<ion-header>
  <ion-navbar>
    <ion-title>Group</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div *ngIf="!group.hasGroup" text-center>
    <button class="new-button" icon-only (click)="create()">
      <ion-icon name="add"></ion-icon>
    </button>
  </div>

  <!--<div *ngIf="group.hasInvitation && !group.hasGroup">-->
  <!--<ion-label>Seems like someone has invited you to a group! :)</ion-label>-->
  <!--<button ion-button block large (click)="join()">-->
  <!--<ion-icon name="log-in"></ion-icon>-->
  <!--Join Group-->
  <!--</button>-->
  <!--</div>-->
  <!--</div>-->


  <div *ngIf="group.hasGroup">
    <h1 padding>Group members</h1>

    <div inline (click)="seeTransactions(user)" *ngFor="let user of group.users" class="group-item">
      <h1>{{user.name}}</h1>
      <p>{{user.email}}</p>
    </div>
  </div>

  <div *ngIf="group.hasGroup && group.invitations.length>0">
    <h1 padding>Invited users</h1>
    <div inline (click)="seeTransactions(user)" *ngFor="let invitee of group.invitations" class="group-item">
      <h1>{{invitee}}</h1>
      <button ion-button large outline color="danger" (click)="revokeInvitation(invitee)">
        <ion-icon name="ios-trash-outline"></ion-icon>
      </button>
    </div>
  </div>

  <div *ngIf="group.hasGroup" text-center>
    <h1 padding>Add user to group</h1>
    <ion-grid style=" height: auto  " padding>
      <ion-row align-items-center>
        <ion-col col-4>
          <label for="email">Email</label>
          <input #email type="email" id="email"/>
        </ion-col>
      </ion-row>

      <ion-row align-items-center>
        <ion-col col-4>
          <button ion-button block large (click)="invite(email.value)">
            <ion-icon name="add"></ion-icon>
            INVITE
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>


    <h1 padding inline (click)="leave()" color="danger" ion-text>Leave group
      <ion-icon name="log-out"></ion-icon>
    </h1>
  </div>


  <div class="bottom-fader"></div>
</ion-content>
