<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Group</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list *ngIf="!group.hasGroup">
    <ion-item>
      <button ion-button block clear large (click)="create()">
        <ion-icon name="add"></ion-icon>
        Create Group
      </button>
    </ion-item>

    <ion-item *ngIf="group.hasInvitation">
      Looks Like you have an invitation!
    </ion-item>

    <ion-item *ngIf="group.hasInvitation">
      <button ion-button block large (click)="join()">
        <ion-icon name="log-in"></ion-icon>
        Join Group
      </button>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="group.hasGroup">
    <ion-item-group>
      <ion-item-divider color="light">Group members</ion-item-divider>
      <ion-item (click)="seeTransactions(user)" *ngFor="let user of group.users">
        <!--avatar-->
        <h1>{{user.name}}</h1>
        <p text-rigth>{{user.email}}</p>
      </ion-item>
    </ion-item-group>

    <ion-item-group *ngIf="group.invitations.length>0">
      <ion-item-divider color="light">Invited users</ion-item-divider>
      <ion-item-sliding *ngFor="let user of group.invitations">
        <ion-item>
          <h1 text-rigth>{{user}}</h1>
        </ion-item>

        <ion-item-options side="right">
          <button ion-button large color="danger" (click)="revokeInvitation(user)">
            <ion-icon name="ios-trash-outline"></ion-icon>
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider color="light">Add user to group</ion-item-divider>
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input #email type="email"></ion-input>
      </ion-item>
      <ion-item>
        <button ion-button block large (click)="invite(email.value)">
          <ion-icon name="add"></ion-icon>
          INVITE
        </button>
      </ion-item>
      <ion-item>
        <button ion-button block clear color="danger" (click)="leave()">
          <ion-icon name="log-out"></ion-icon>
          LEAVE
        </button>
      </ion-item>
    </ion-item-group>


  </ion-list>
</ion-content>
