<div>
  <ion-range [(ngModel)]="r"
             [ngModelOptions]="{standalone: true}"
             min="0" max="255"
             color="danger"
             (ionChange)="change()">
    <ion-icon range-left small name="sunny"></ion-icon>
    <ion-icon range-right name="sunny"></ion-icon>
  </ion-range>
  <ion-range [(ngModel)]="g"
             [ngModelOptions]="{standalone: true}"
             min="0" max="255"
             color="secondary"
             (ionChange)="change()">
    <ion-icon range-left small name="sunny"></ion-icon>
    <ion-icon range-right name="sunny"></ion-icon>
  </ion-range>
  <ion-range [(ngModel)]="b"
             [ngModelOptions]="{standalone: true}"
             min="0" max="255"
             color="primary"
             (ionChange)="change()">
    <ion-icon range-left small name="sunny"></ion-icon>
    <ion-icon range-right name="sunny"></ion-icon>
  </ion-range>
</div>
